.wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.btn {
  width: 80px;
  padding: 5px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 150ms ease-in, transform 150ms ease-in;
}
.btn:is(:hover, :focus) {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transform: scale(1.1);
}
.btn:first-letter {
  text-transform: uppercase;
}
